<div class='row'>
  <h1 style='text-align: center; width: 100%;'> Obrigado por alugar um de nossos veículos </h1>
</div>
<div class='row'>
  <h3 style='text-align: center; width: 100%; text-decoration:underline;'>Reserva n° <%= @reserva.id %> </h3>
</div>
<div class='row'>
  <h3 style='text-align: center; width: 100%; color:red;'>Veículo <%= @veiculo.nome %> </h3>
  <div style='text-align:center; width: 100%'>
    <% if @veiculo.foto.attached? %>
      <%= image_tag @veiculo.foto, class: "image" %>
    <% end %>
  </div>
</div>
<div class='row'>
  <%= link_to "Voltar para página inicial", '/', style: "display: block; margin: auto; margin-top: 35px;" %>
</div>

<style>
  .image {
    height: 230px;
  }
</style>