<div class="page-header">
  <%= link_to marcas_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
  <%= link_to edit_marca_path(@marca), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Alterar
  <% end %>
  <h1>Mostrar marca</h1>
</div>

<dl class="dl-horizontal">
  <dt>Nome:</dt>
  <dd><%= @marca.nome %></dd>

</dl>
