<div class="page-header">
  <%= link_to usuarios_administradors_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
  <h1>Criando usuario</h1>
</div>

<%= render 'form' %>
